<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="#">
                {{ 'brand.name'|trans}}<span style="background-color:#387690;" class="label warning">{#{{ constant("Application\\Bundle\\DefaultBundle\\Version::VERSION") }}#}</span>
            </a>
        </div>
    </div>
</div>
